{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block sidebar %}{% endblock sidebar %}
{% block wrapper %}
    <div class="col-md-12">
        {% block content %}
            <div class="row-fluid">
                {% block messages %}
                  {{ block.super }}
                {% endblock %}
                <div class="col-md-offset-2 col-md-7">
                  {% crispy form %}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}