<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
{% load compress %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/favicon.ico">

    <title>{% block title_head %}Grumers{% endblock %}</title>

    {% block css %}
      {% compress css %}
        <link type="text/less" href="{% static "bootstrap/less/bootstrap.less" %}" rel="stylesheet" >
      {% endcompress %}
      <link type="text/css" href="{% static "css/datepicker.css" %}" rel="stylesheet" />
      <link href="{% static "js/vendors/select2/select2.css" %}" rel="stylesheet">
      <link href="{% static "js/vendors/select2/select2-bootstrap.css" %}" rel="stylesheet">
      {% compress css %}
        <link type="text/less" href="{% static "css/style.less" %}" rel="stylesheet" />
      {% endcompress %}
    {% endblock css %}
    {% block page_css %}{% endblock page_css %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    {% block page_js %}{% endblock page_js %}
  </head>

  <body>
    {% block navigation %}{% include '_header_nav.html' %}{% endblock navigation %}
    <div class="container">
      <div class="page-header">
        <h1>{% block title %}Grumers{% endblock %}</h1>
      </div>
      {% block messages %}
      <div id="messages">
      {% for message in messages %}
      <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message|safe }}
      </div>
      {% endfor %}
      </div>
      {% endblock messages %}
      <div class="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <div id="footer">
      <div class="container">
        <p class="text-muted">
          <a href="http://www.caib.es" title="Govern de les Illes Balears"><img src="{% static "images/logo-govern_ibalears.png" %}" /></a>
          <a href="http://www.socib.es" title="ICTS SOCIB"><img src="{% static "images/logo-SOCIB.png" %}" /></a>
          <a href="http://www.csic.es" title="Consejo Superior de Investigaciones Científicas"><img src="{% static "images/logo-CSIC.png" %}" /></a>
        </p>
      </div>
    </div>
    <script src="{% static "js/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "js/vendors/select2/select2.min.js" %}"></script>
    <script type="text/javascript">
      $(function() {
        $('.dateinput').datepicker({
          format: "dd/mm/yyyy",
          weekStart: 1
        }).on('changeDate', function(ev){
          $(this).datepicker('hide');
        });
        // Menu active from submenu:
        $('li.active').each(function(){
          var parent = $(this).parent().parent();
          if (parent.get(0).tagName == 'LI' && !parent.hasClass('change-lang')){
            parent.addClass('active');
          }
        });
        // Select2
        $("select").each( function( index, element ){
            if (!$(this).attr("readonly") && !$(this).attr("ignore-select2"))
              $(this).select2();
        });

      });
    </script>
  </body>
</html>
