{% extends "data/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load geojson_tags %}
{% load thumbnail %}

{% block title_head %}{{ block.super }}: {% trans "Update Flag Change" %}{% endblock %}

{% block title %}
{% trans "Update Flag Change" %}
{% if route %}
    <span class="route"><a href="{% url 'data_route_flagchange_list' route.pk %}">{{ route.name }}</a></span>
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-7">
    {% crispy form %}
  </div>
  <div class="col-sm-5">
    <h3 class="thin-title">{% trans "Map" %}</h3>
    <div id="map-route" style="width:100%; height:300px;">
    </div>
  </div>
  {% if last_flagchanges %}
  <div class="col-sm-12"> 
    <h2>{% trans "Latest flag changes" %}</h2> 
    <table class="table table-striped table-condensed">
        <tr><th>{% trans "Date" %}</th><th>{% trans "Station" %}</th><th>{% trans "Flag" %}</th><th>{% trans "Jellyfish flag" %}</th></tr>
        {% for flagchange in last_flagchanges %}
        <tr><td><a href="{% if route %}{% url 'data_route_flagchange_update' route.pk flagchange.pk %}{% else %}{% url 'data_flagchange_update' flagchange.pk %}{% endif %}">{{ flagchange.date }}</a></td>
            <td>{{ flagchange.observation_station }}</td>
            <td>{{ flagchange.get_flag_status_display }}</td>
            <td>{% if flagchange.jellyfish_flag %}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{% endif %}</td></tr>
        {% endfor %}
    </table>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block page_js %}
  <script src="{% static "js/open_layers/OpenLayers.js" %}"></script>
  {{ form.media }}
  <script type="text/javascript">
    $(function() {
        var map_options = {
          projection: new OpenLayers.Projection("EPSG:3857"),
          displayProjection: new OpenLayers.Projection("EPSG:4326")
        };
        var lon = 3;
        var lat = 39.4;
        var zoom = 10;
        var map = new OpenLayers.Map('map-route', map_options);
        var osmLayer =  new OpenLayers.Layer.OSM();
        var stationDefaultStyle = new OpenLayers.Style({
            fill: true,
            fillOpacity: 0.6,
            fillColor: "#2a37ff",
            strokeColor: "#2a37ff",
            strokeWidth: 0.5,
            strokeOpacity: 0.8,
            strokeDashstyle: 'solid',
            pointRadius: 5
        });
        var stationSelectedStyle = new OpenLayers.Style({
            pointRadius: 10,
            strokeWidth: 2,
            strokeOpacity: 1,
            fillColor: "#e0d01e"
        });
        var stationPointStyle = new OpenLayers.StyleMap({
            'default': stationDefaultStyle,
            'select': stationSelectedStyle
        });
        var stationsLayer = new OpenLayers.Layer.Vector("Stations", {
            styleMap: stationPointStyle,
            preFeatureInsert: function(feature) {
                feature.geometry.transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
            }
        });
        map.addLayers([stationsLayer, osmLayer]);
        var geojsonFormat = new OpenLayers.Format.GeoJSON();
        var collection = geojsonFormat.read({{ station_list|geojsonfeature:":position"|safe }});
        stationsLayer.addFeatures(collection);

        var layerSwitcher = new OpenLayers.Control.LayerSwitcher();
        map.addControl(layerSwitcher);
        map.addControl(new OpenLayers.Control.MousePosition({
            prefix: '<div style=\"color: black; font-size: 12px; font-weight: bold; background-color: white; padding: 0px 10px;\">',
            suffix: '</div>'
        }));

        var selectFeatureControl = new OpenLayers.Control.SelectFeature(stationsLayer, {
            multiple: false,
            onSelect: _onFeatureSelect,
            'displayClass': 'olControlDrawFeaturePoint'
        });
        map.addControl(selectFeatureControl);
        selectFeatureControl.activate();


        var newCenterProjected = (new OpenLayers.LonLat(lon, lat)).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
        map.setCenter(newCenterProjected, zoom);
        map.zoomToExtent(stationsLayer.getDataExtent());

        function _onFeatureSelect(feature) {
          $("select[name=observation_station]").val(feature.fid);
          $("select[name=observation_station]").select2("val", feature.fid);
        }

        function selectFeature(id) {
            var length = stationsLayer.features.length;
            for (var i = 0; i < length; i++) {
                var feature = stationsLayer.features[i];
                if (feature.fid == id) {
                    selectFeatureControl.select(feature);
                }else{
                    selectFeatureControl.unselect(feature);
                }
            }
        }

        $("select[name=observation_station]").change(function(){
          selectFeature(this.value);
        });
        selectFeature($("select[name=observation_station]").val());

        // Jellifish selector
        var jellyfishSpecies = [];
        function select2JellyfishSpecie(data){
            jellyfishSpecies = data;
            $("select[name=jellyfish_specie]").select2({
                formatResult: jellyfishFormatResult,
                formatSelection: jellyfishFormatSelection
            });
        }

        $.getJSON('{% url 'data_species_json' %}', select2JellyfishSpecie);

        function jellyfishSearch(specieId) {
            if (!specieId)
                return null;
            var specie = null;
            var i = 0, l = jellyfishSpecies.length;
            while (specie === null || i < l){
                if (jellyfishSpecies[i].id == specieId){
                    specie = jellyfishSpecies[i];
                }
                i++;
            }
            return specie;
        }

        function jellyfishFormatResult(value) {
            var specie = jellyfishSearch(value.id);
            if (specie === null)
                return value.text;

            var markup = "<table class='jellyfish-result'><tr>";
            if (specie.thumbnail !== undefined ) {
                markup += "<td class='jellyfish-image'><img src='" + specie.thumbnail + "'/></td>";
            }
            markup += "<td class='jellyfish-info'><div class='jellyfish-name'>" + specie.name + "</div>";
            // if (specie.common_name !== undefined) {
            //     markup += "<div class='jellyfish-commonname'>" + specie.common_name + "</div>";
            // }
            markup += "</td></tr></table>";
            return markup;
        }

        function jellyfishFormatSelection(value) {
            var specie = jellyfishSearch(value.id);
            if (specie === null)
                return value.text;
            return specie.name;
        }

    });
  </script>
{% endblock page_js %}

