{% extends "data/base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title_head %}{{ block.super }}: {% trans "Observation Heatmap" %}{% endblock %}

{% block title %}
{% trans "Observation Heatmap" %}
{% if route %}
  <span class="route">{{ route.name }}</span>
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-3">
    {% crispy form %}
    <a class="btn btn-info btn-block" style="margin-top: 20px;" href="{% if route %}{% url 'data_route_observation_list' route.pk %}{% else %}{% url 'data_observation_list' %}{% endif %}"><i class="glyphicon glyphicon-list"></i> {% trans 'Show observation list' %}</a>
    <a class="btn btn-info btn-block" style="display:block;  margin-top: 20px;" href="{% if route %}{% url 'data_route_observation_map' route.pk %}{% else %}{% url 'data_observation_map' %}{% endif %}"><i class="glyphicon glyphicon-map-marker"></i> {% trans 'Show observation map' %}</a>
  </div>
  <div class="col-sm-9">
    <div id="map" style="width:90%; height:500px;">
    {% if not table.rows %}
    <h2>{% trans "No observations found" %}</h2>
    {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block page_js %}
  <script src="{% static "js/open_layers/OpenLayers.js" %}"></script>
  <script src="{% static "js/vendors/heatmap/heatmap.js" %}"></script>
  <script src="{% static "js/vendors/heatmap/heatmap-openlayers.js" %}"></script>
  <script type="text/javascript">
    $(function() {
        /* prepare data */
        var data = {{ table.json|safe }};
        if (data.length == 0){
          return;
        }
        var transformedData = { max: data[0].count , data: [] };
        var datalen = data.length;
        var nudata = [];

        while(datalen--){
          nudata.push({
            lonlat: new OpenLayers.LonLat(data[datalen].lng, data[datalen].lat),
            count: data[datalen].count
          });
        }
        transformedData.data = nudata;


        var map_options = {
          projection: new OpenLayers.Projection("EPSG:3857"),
          displayProjection: new OpenLayers.Projection("EPSG:4326")
        };
        var map = new OpenLayers.Map('map', map_options);
        var osmLayer =  new OpenLayers.Layer.OSM();
        var heatmap = new OpenLayers.Layer.Heatmap("Heatmap Layer",
          map, osmLayer,
          {visible: true, radius:10, opacity: 50, legend: {position: 'tr', title: 'Observations'}},
          {isBaseLayer: false, opacity: 0.3, projection: new OpenLayers.Projection("EPSG:4326")}
        );
        map.addLayers([osmLayer, heatmap]);
        map.zoomToMaxExtent();
        heatmap.setDataSet(transformedData);
        // center map
        var lon = 3;
        var lat = 39.4;
        var zoom = 8;
        var newCenterProjected = (new OpenLayers.LonLat(lon, lat)).transform(
          new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
        map.setCenter(newCenterProjected, zoom);
    });
  </script>
{% endblock page_js %}

