{% extends "data/base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block title_head %}{{ block.super }}: {% trans "Observation List" %}{% endblock %}

{% block title %}
{% trans "Observation List" %}
{% if route %}
  <span class="route">{{ route.name }}</span>
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-3">
    {% crispy form %}
    <a class="btn btn-info btn-block" style="display:block;  margin-top: 20px;" href="{% if route %}{% url 'data_route_observation_map' route.pk %}{% else %}{% url 'data_observation_map' %}{% endif %}"><i class="glyphicon glyphicon-map-marker"></i> {% trans 'Show observation map' %}</a>
    <a class="btn btn-info btn-block" style="display:block;  margin-top: 20px;" href="{% if route %}{% url 'data_route_observation_heatmap' route.pk %}{% else %}{% url 'data_observation_heatmap' %}{% endif %}"><i class="glyphicon glyphicon-map-marker"></i> {% trans 'Show observation heatmap' %}</a>
  </div>
  <div class="col-sm-9">
    {% render_table table %}
    {% if not table.rows %}
    <h2>{% trans "No observations found" %}</h2>
    {% endif %}
    {% if route %}
      <a class="btn btn-primary" href="{% url 'data_route_observation_create' route.pk %}"><i class="glyphicon glyphicon-plus"></i> {% trans 'Add' %} {% trans 'observation' %}</a>
    {% else %}
      <a class="btn btn-primary" href="{% url 'data_observation_create' %}"><i class="glyphicon glyphicon-plus"></i> {% trans 'Add' %} {% trans 'observation' %}</a>
    {% endif %}
  </div>
</div>
{% endblock %}
